body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Move the cards slightly down */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Move the cards back to their original position */
  }
}
/* Delay each card animation */
.entrees-card:nth-child(1) {
  animation-delay: 0.5s; /* No delay for the first card */
}

.entrees-card:nth-child(2) {
  animation-delay: 0.8s;
}

.entrees-card:nth-child(3) {
  animation-delay: 1s;
}

.entrees-card:nth-child(4) {
  animation-delay: 1.2s;
}

.entrees-card.main-dish:nth-child(1) {
  animation-delay: 1.4s;
}

.entrees-card.main-dish:nth-child(2) {
  animation-delay: 1.6s;
}

.entrees-card.main-dish:nth-child(3) {
  animation-delay: 1.8s;
}

.entrees-card.dessert-card:nth-child(1) {
  animation-delay: 2s;
}

.entrees-card.dessert-card:nth-child(2) {
  animation-delay: 2.2s;
}

.entrees-card.dessert-card:nth-child(3) {
  animation-delay: 2.4s;
}

.row .entrees-header {
  opacity: 0;
  animation: slideIn 0.5s ease-in-out forwards;
  animation-delay: 0.2s;
}
.row .main-dish-header {
  opacity: 0;
  animation: slideIn 0.5s ease-in-out forwards;
  animation-delay: 1.2s;
}
.row .dessert-header {
  opacity: 0;
  animation: slideIn 0.5s ease-in-out forwards;
  animation-delay: 2s;
}

.entrees-card {
  opacity: 0; /* Initially hide the cards */
  animation: slideIn 0.5s ease-in-out forwards;
  cursor: pointer;
}

.entrees-card.main-dish {
  opacity: 0; /* Initially hide the cards */
  animation: slideIn 0.5s ease-in-out forwards;
}

.entrees-card.dessert-card {
  opacity: 0; /* Initially hide the cards */
  animation: slideIn 0.5s ease-in-out forwards;
}

button {
  transition: all 0.3s ease-in;
  cursor: pointer;
}

button:hover {
  filter: brightness(120%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out;
  animation: fadeOut 1s ease-in-out forwards; /* Animation to fade out the spinner */
}

.spinner {
  border: 7px solid #9356dc;
  border-radius: 50%;
  border-top: 7px solid #ff79da;
  width: 50px;
  height: 50px; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}

@media screen and (max-width: 767px) {
  html,
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
  }
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  nav .logo {
    width: 50%;
  }
  nav .nav-section {
    display: flex;
    flex-direction: column;
  }
  nav .nav-section.location {
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    width: 100%;
    height: 50px;
    border-top: 5px solid #cfcfcf;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: inline;
  }
  nav .nav-section.location span {
    display: inline;
    text-align: center;
    position: relative;
    top: 15px;
  }
  nav .nav-section.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 5px;
    background-color: white;
    width: 100%;
  }
  nav .nav-section .arrow {
    position: absolute;
    top: 23px;
    left: 25px;
    font-size: 25px;
  }
  nav .nav-section.logo {
    text-align: center;
  }
  nav .nav-section.logo .fa-map-marker-alt {
    margin-right: 30px;
  }
  nav .nav-section.logo .area {
    margin-right: 30px;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    font-family: "Roboto", sans-serif;
    height: 270px;
    width: 100%;
    box-sizing: border-box;
  }
  header h1 {
    font-size: 25px;
    margin-top: 20px;
  }
  header p {
    text-align: center;
    max-width: 300px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  header button {
    border-radius: 30px;
    border: none;
    background: linear-gradient(#ff79da, #9356dc);
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    font-size: small;
    margin-top: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  #instructions, #restaurants {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    margin-top: 40px;
  }
  .card-wrapper, .restaurant-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .card, .restaurant-cards {
    width: 70%;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 20px;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
  }
  footer {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  footer h4 {
    font-family: "Shrikhand", cursive;
    color: white;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    bottom: 20px;
  }
  footer a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  footer li {
    margin-top: 5px;
  }
  footer .link-icon {
    position: relative;
    left: 20px;
  }
  footer i {
    color: white;
  }
  footer .fa-hands-helping {
    font-size: 11px;
  }
  #menu {
    width: 100%;
    background-color: #eaeaea;
    position: relative;
    bottom: 30px;
    border-radius: 35px 35px 0 0;
    margin: 0%;
    position: relative;
  }
  #menu .btn-container {
    display: flex;
    position: relative;
    top: 25px;
  }
  #menu .btn-container .order-btn {
    position: relative;
    bottom: 20px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(#ff79da, #9356dc);
    padding: 15px 60px;
    color: white;
    font-weight: bold;
    font-size: medium;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: auto;
  }
  #menu .top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #menu .top-menu .heart-icon.far {
    position: absolute;
    top: 30px;
    right: 29px;
    color: black;
    font-size: 30px;
  }
  #menu .top-menu .heart-icon.fas {
    position: absolute;
    top: 45px;
    right: 36px;
    font-size: 18px;
    opacity: 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(#ff79da, #9356dc);
    cursor: pointer;
    transform-origin: bottom;
  }
  #menu .top-menu .heart-icon.fas:hover {
    opacity: 1;
    transition: all 0.4s ease-in;
    transform: scale(2);
  }
  #menu h1 {
    font-family: "Shrikhand", cursive;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 30px;
    max-width: 280px;
  }
  #menu h3 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 500;
    font-size: 15px;
  }
  #menu h3::after {
    content: "";
    display: block;
    width: 9%;
    border-bottom: 3px solid #99e2d0;
    padding-top: 5px;
  }
  #menu .menu-courses {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  #menu .menu-courses .menu-cards {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  #menu .menu-courses .entrees-card.bigger {
    height: 90px;
  }
  #menu .menu-courses .menu-extra.bigger {
    position: relative;
  }
  #menu .menu-courses .prices.bigger {
    position: relative;
    top: 40px !important;
  }
  #menu .menu-courses .box-contents.bigger {
    height: 90px !important;
  }
  #menu .menu-courses .box-contents.right.bigger {
    height: 90px;
  }
  #menu .menu-courses .box-contents.left.bigger {
    margin-top: 10px;
  }
  #menu .menu-courses .entrees-card {
    width: 90%;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left: 5px;
    box-sizing: border-box;
    margin-top: 20px;
  }
  #menu .menu-courses .entrees-card .box-contents {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    overflow: hidden;
  }
  #menu .menu-courses .entrees-card .box-contents h4 {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.left {
    display: block;
    flex-basis: 75%;
    position: relative;
    bottom: 10px;
    padding-left: 5px;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right {
    display: flex;
    justify-content: space-between;
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
    width: 100%;
    transform: translateX(50%);
    transition: all 0.3s ease;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right .prices {
    position: relative;
    top: 30px;
    transition: all 0.7s ease;
    font-family: "Roboto", sans-serif;
    float: right;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right .checklist {
    display: flex;
    height: 100%;
    width: 50%;
    background-color: #99e2d0;
    border-radius: 0 15px 15px 0;
    transition: all 0.7s ease;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right .checklist .tick {
    display: flex;
    margin: auto;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: transform 0.9s ease-in-out;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right .checklist .tick i {
    margin: auto;
    color: #99e2d0;
  }
  #menu .menu-courses .entrees-card:hover .box-contents.right {
    transform: translateX(0%);
  }
  #menu .menu-courses .entrees-card:hover .tick {
    transform: rotate(360deg);
  }
  #menu .menu-courses .entrees-card:hover .menu-extra {
    width: 90%;
  }
}
/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  html,
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
  }
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  nav .logo {
    width: 50%;
  }
  nav .nav-section {
    display: flex;
    flex-direction: column;
  }
  nav .nav-section.location {
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    width: 100%;
    height: 50px;
    border-top: 5px solid #cfcfcf;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: inline;
  }
  nav .nav-section.location span {
    display: inline;
    text-align: center;
    position: relative;
    top: 15px;
  }
  nav .nav-section.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 5px;
    background-color: white;
    width: 100%;
  }
  nav .arrow {
    position: absolute;
    top: 23px;
    left: 25px;
    font-size: 25px;
  }
  nav .nav-section.logo {
    text-align: center;
  }
  nav .fa-map-marker-alt {
    margin-right: 30px;
  }
  nav .area {
    margin-right: 30px;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    font-family: "Roboto", sans-serif;
    height: 270px;
    width: 100%;
    box-sizing: border-box;
  }
  header h1 {
    font-size: 25px;
    margin-top: 20px;
  }
  header p {
    text-align: center;
    max-width: 300px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  header button {
    border-radius: 30px;
    border: none;
    background: linear-gradient(#ff79da, #9356dc);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    font-weight: bold;
    font-size: small;
    margin-top: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  #restaurants {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    padding-top: 50px;
    margin-top: 50px;
  }
  #restaurants h2 {
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
  }
  #restaurants .restaurant-card-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 20px;
    margin-bottom: 70px;
  }
  #restaurants .restaurant-cards {
    position: relative;
    height: 260px;
    width: 90%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 20px;
  }
  #restaurants .new {
    position: absolute;
    top: 30px;
    right: 15px;
    background-color: #99e2d0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "Roboto", sans-serif;
    color: #0a8d6d;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  #restaurants .restaurant-cards img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    height: 70%;
  }
  #restaurants .title {
    padding-left: 20px;
    position: relative;
    bottom: 5px;
  }
  #restaurants h3 {
    font-family: "Roboto", sans-serif;
  }
  #restaurants .title p {
    position: relative;
    bottom: 17px;
    font-family: "Roboto", sans-serif;
  }
  footer {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  footer h4 {
    font-family: "Shrikhand", cursive;
    color: white;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    bottom: 20px;
  }
  footer a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  footer li {
    margin-top: 5px;
  }
  footer .link-icon {
    position: relative;
    left: 20px;
  }
  footer i {
    color: white;
  }
  footer .fa-hands-helping {
    font-size: 11px;
  }
  #menus-header {
    width: 100%;
    height: 400px;
    position: relative;
  }
  #menus-header img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #menu {
    width: 100%;
    background-color: #eaeaea;
    position: relative;
    bottom: 30px;
    border-radius: 35px 35px 0 0;
    margin: 0%;
    position: relative;
  }
  #menu .btn-container {
    display: flex;
    position: relative;
    top: 25px;
  }
  #menu .btn-container .order-btn {
    border-radius: 30px;
    border: none;
    background: linear-gradient(#ff79da, #9356dc);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    font-weight: bold;
    font-size: medium;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: auto;
    margin-bottom: 40px;
  }
  #menu .top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #menu .top-menu .heart-icon.far {
    position: absolute;
    top: 30px;
    right: 30px;
    color: black;
    font-size: 30px;
  }
  #menu .top-menu .heart-icon.fas {
    position: absolute;
    top: 45px;
    right: 36px;
    font-size: 17px;
    opacity: 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(#ff79da, #9356dc);
    cursor: pointer;
    transform-origin: bottom;
  }
  #menu .top-menu .heart-icon.fas:hover {
    opacity: 1;
    transition: all 0.4s ease-in;
    transform: scale(2); /* Initially set the scale to 0 */
  }
  #menu h1 {
    font-family: "Shrikhand", cursive;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 25px;
  }
  #menu h3 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 500;
    font-size: 15px;
  }
  #menu h3::after {
    content: "";
    display: block;
    width: 5%;
    border-bottom: 3px solid #99e2d0;
    padding-top: 5px;
  }
  #menu .menu-courses {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  #menu .menu-courses .menu-cards {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  #menu .menu-courses .entrees-card {
    width: 95%;
    height: 80px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left: 5px;
    box-sizing: border-box;
    margin-top: 20px;
  }
  #menu .menu-courses .entrees-card .box-contents {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    overflow: hidden;
  }
  #menu .menu-courses .entrees-card .box-contents h4 {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.left {
    display: block;
    flex-basis: 80%;
    position: relative;
    bottom: 10px;
    padding-left: 5px;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right {
    display: flex;
    justify-content: space-between;
    flex-basis: 20%;
    position: relative;
    overflow: hidden;
    width: 100%;
    transform: translateX(50%);
    transition: all 0.3s ease;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right .prices {
    position: relative;
    top: 30px;
    left: 30px;
    transition: all 0.7s ease;
    font-family: "Roboto", sans-serif;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right .checklist {
    display: flex;
    height: 100%;
    width: 50%;
    background-color: #99e2d0;
    border-radius: 0 15px 15px 0;
    transition: all 0.7s ease;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right .checklist .tick {
    display: flex;
    margin: auto;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: transform 0.9s ease-in-out;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right .checklist .tick i {
    margin: auto;
    color: #99e2d0;
  }
  #menu .menu-courses .entrees-card:hover .box-contents.right {
    transform: translateX(0%);
  }
  #menu .menu-courses .entrees-card:hover .tick {
    transform: rotate(360deg);
  }
  #menu .menu-courses .entrees-card:hover .menu-extra {
    width: 90%;
  }
  #menu h4 {
    position: relative;
    font-family: "Roboto", sans-serif;
  }
  #menu .menu-extra {
    font-family: "Roboto", sans-serif;
    position: relative;
    bottom: 15px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
  }
}
@media screen and (min-width: 992px) {
  html,
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  nav .logo {
    width: 50%;
  }
  nav .nav-section {
    display: flex;
    flex-direction: column;
  }
  nav .nav-section.location {
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    width: 100%;
    height: 50px;
    border-top: 5px solid #cfcfcf;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    display: inline;
  }
  nav .nav-section.location span {
    display: inline;
    text-align: center;
    position: relative;
    top: 15px;
  }
  nav .nav-section.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 5px;
    background-color: white;
    width: 100%;
  }
  nav .arrow {
    position: absolute;
    top: 23px;
    left: 25px;
    font-size: 25px;
  }
  nav .nav-section.logo {
    text-align: center;
  }
  nav .fa-map-marker-alt {
    margin-right: 30px;
  }
  nav .area {
    margin-right: 30px;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    font-family: "Roboto", sans-serif;
    height: 270px;
    width: 100%;
    box-sizing: border-box;
  }
  header h1 {
    font-size: 25px;
    margin-top: 20px;
  }
  header p {
    text-align: center;
    max-width: 300px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  header button {
    border-radius: 30px;
    border: none;
    background: linear-gradient(#ff79da, #9356dc);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    font-weight: bold;
    font-size: small;
    margin-top: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  #restaurants {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    padding-top: 50px;
    margin-top: 50px;
  }
  #restaurants h2 {
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
  }
  #restaurants .restaurant-card-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 20px;
    margin-bottom: 70px;
  }
  #restaurants .restaurant-cards {
    position: relative;
    height: 260px;
    width: 90%;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 20px;
  }
  #restaurants .new {
    position: absolute;
    top: 30px;
    right: 15px;
    background-color: #99e2d0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "Roboto", sans-serif;
    color: #0a8d6d;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  #restaurants .restaurant-cards img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    height: 70%;
  }
  #restaurants .title {
    padding-left: 20px;
    position: relative;
    bottom: 5px;
  }
  #restaurants h3 {
    font-family: "Roboto", sans-serif;
  }
  #restaurants .title p {
    position: relative;
    bottom: 17px;
    font-family: "Roboto", sans-serif;
  }
  footer {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    padding-top: 20px;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  footer h4 {
    font-family: "Shrikhand", cursive;
    color: white;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    position: relative;
    bottom: 20px;
  }
  footer a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
  }
  footer li {
    margin-top: 5px;
  }
  footer .link-icon {
    position: relative;
    left: 20px;
  }
  footer i {
    color: white;
  }
  footer .fa-hands-helping {
    font-size: 11px;
  }
  #menus-header {
    width: 100%;
    height: 350px;
    position: relative;
  }
  #menus-header img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 15px;
  }
  #menu {
    width: 95%;
    background-color: #eaeaea;
    position: relative;
    z-index: 1;
    bottom: 0px;
    border-radius: 35px 35px 0 0;
    margin: 0%;
    margin: auto;
  }
  #menu .row {
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: relative;
  }
  #menu .top-menu .heart-icon.far {
    position: absolute;
    top: 30px;
    right: 30px;
    color: black;
    font-size: 30px;
  }
  #menu .top-menu .heart-icon.fas {
    position: absolute;
    top: 45px;
    right: 36px;
    font-size: 17px;
    opacity: 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(#ff79da, #9356dc);
    cursor: pointer;
    transform-origin: bottom;
  }
  #menu .top-menu .heart-icon.fas:hover {
    opacity: 1;
    transition: all 0.4s ease-in;
    transform: scale(2); /* Initially set the scale to 0 */
  }
  #menu .btn-container {
    display: flex;
    position: relative;
    top: 25px;
  }
  #menu .btn-container .order-btn {
    border-radius: 30px;
    border: none;
    background: linear-gradient(#ff79da, #9356dc);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    font-weight: bold;
    font-size: medium;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: auto;
    position: relative;
    bottom: 50px;
  }
  #menu .top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #menu .heart-icon {
    position: absolute;
    top: 35px;
    right: 40px;
    font-size: 25px;
  }
  #menu h1 {
    font-family: "Shrikhand", cursive;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 25px;
  }
  #menu h3 {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 500;
    font-size: 15px;
  }
  #menu h3::after {
    content: "";
    display: block;
    width: 9%;
    border-bottom: 3px solid #99e2d0;
    padding-top: 5px;
  }
  #menu .menu-courses {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
  }
  #menu .menu-courses .menu-cards {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
  #menu .menu-courses .entrees-card {
    width: 95%;
    height: 80px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left: 5px;
    box-sizing: border-box;
    margin-top: 20px;
  }
  #menu .menu-courses .entrees-card .box-contents {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    overflow: hidden;
  }
  #menu .menu-courses .entrees-card .box-contents h4 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.left {
    display: block;
    flex-basis: 75%;
    position: relative;
    bottom: 10px;
    padding-left: 5px;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right {
    display: flex;
    justify-content: space-between;
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
    width: 100%;
    transform: translateX(50%);
    transition: all 0.3s ease;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right .prices {
    position: relative;
    top: 30px;
    transition: all 0.7s ease;
    font-family: "Roboto", sans-serif;
    float: right;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right .checklist {
    display: flex;
    height: 100%;
    width: 50%;
    background-color: #99e2d0;
    border-radius: 0 15px 15px 0;
    transition: all 0.7s ease;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right .checklist .tick {
    display: flex;
    margin: auto;
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: transform 0.9s ease-in-out;
  }
  #menu .menu-courses .entrees-card .box-contents .box-contents.right .checklist .tick i {
    margin: auto;
    color: #99e2d0;
  }
  #menu .menu-courses .entrees-card:hover .box-contents.right {
    transform: translateX(0%);
  }
  #menu .menu-courses .entrees-card:hover .tick {
    transform: rotate(360deg);
  }
  #menu .menu-courses .entrees-card:hover .menu-extra {
    width: 90%;
  }
  #menu h4 {
    position: relative;
    font-family: "Roboto", sans-serif;
  }
  #menu .menu-extra {
    font-family: "Roboto", sans-serif;
    position: relative;
    bottom: 15px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.3s ease;
  }
}/*# sourceMappingURL=restaurantmenu.css.map */