$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$mobile: "767px";
$mintablet: "768px";
$maxtablet: "991px";
$desktop: "992px";
$imagewidth: "50%";
$grey: #eaeaea;
$bordertop: #cfcfcf;
$myfont: "Roboto", sans-serif;
$boldfont: 700;
$headercolour: #f6f6f6;
$buttoncolour: white;
$buttonboldfont: 900;
$lightfont: 100;
$buttonshadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$iconsmarginright: 30px;
$iconsize: 20px;
$imgheight: 70%;
$imgwidth: 100%;
$borderimage: 15px 15px 0px 0px;
$newbuttoncolor: #99e2d0;
$newbuttontitlecolor: #0a8d6d;
$logofont: "Shrikhand", cursive;